{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head%}
{{ super() }}
{% endblock %}


{% block body %}
<div class="wrapper my-5">
    {% for c in all_categories %}
    
        <a class="mx-auto" href="/show/all/{{c.id}}">
            <h1>{{c.name.capitalize()}}</h1>
        </a>
    
    <section id="section1 d-flex">
        <!-- <a href="#section1" class="arrow__btn">‹</a> -->
        {% for product in c.pro %}
        <div class="item mx-auto text-center ">
            <h5 class="">{{product.name}}</h5>
            <a href="/show/{{product.id}}"><img id="product" alt="{{product.name}}" src="{{url_for('static', filename='/img/')}}{{product.picture}}.webp"></a>
        </div>
        {% endfor %}
        
        <!-- <a href="#section1" class="arrow__btn">›</a> -->
    </section>
    {% endfor %}
</div>
{% endblock %}