/* -----dashboard.html--------- */
#shop_cart{
    width: 100%;
}
#cart {
    width: 60px;
}
#logo_link{
    height: 120px;
}
.wrapper h1:hover{
    color: #354452;
    text-shadow: 0 0 20px white;

}
#logo_link:hover{
    margin: 0 40px;
    transform: scale(1.2);
    transition: all 0.3s;
}
#border{
    background-color: white;
    height: 200px;
    width: 200px;
}
.nav{
    height: 145px;
}
a{
    text-decoration: none;
}
#add_cart{
    height: 125px;
}

.header{
    background-color: #252F38 ;
}
/* #one_product{
    height: 80%;
} */
#product{
    height: 200px;
    width: 200px;
}
html {
    scroll-behavior: smooth;
   }
   body {
    margin: 0;
    background-color: #000;
   }
   .wrapper h1 {
    font-family: Arial;
    color: #252F38;
    text-align: center;
   }
   .wrapper {
    display: grid;
    grid-template: repeat(2, 100px);
    overflow: hidden;
    scroll-behavior: smooth;
   }
   .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
   }
    .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
   }
   .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
   } 
   /* .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black; 
     width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
   } */
   /* .wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
   }
   .wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
   } */
   /* @media only screen and (max-width: 600px) {
    a.arrow__btn {
    display: none;
    }
   }
    */