/* -----dashboard.html--------- */
#shop_cart{
    width: 100%;
}
#cart {
    width: 60px;
}
#logo_link{
    height: 120px;
}
.wrapper h1:hover{
    color: #354452;
    text-shadow: 0 0 20px white;
}
#logo_link:hover{
    margin: 0 40px;
    transform: scale(1.2);
    transition: all 0.3s;
}
#border{
    background-color: white;
    height: 200px;
    width: 200px;
}
.nav{
    height: 145px;
}
a{
    text-decoration: none;
}
#add_cart{
    height: 125px;
}

.header{
    background-color: #252F38 ;
}
#product{
    height: 200px;
    width: 200px;
}

#hide{
    border: none;
    background-color: transparent;
}
